@model LoginViewModel


<form class="mx-1 mx-md-4" asp-action="Login">

                  <div class="d-flex flex-row align-items-center mb-4">
                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                      <input type="text" id="form3Example3c" asp-for="@Model.UserName" class="form-control" />
                      <label class="form-label"asp-for="@Model.UserName"></label>
                    </div>
                  </div>


                  <div class="d-flex flex-row align-items-center mb-4">
                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                      <input type="password" id="form3Example4cd" asp-for="@Model.Password" class="form-control" />
                      <label class="form-label" for="form3Example4cd" asp-for="@Model.Password"></label>
                    </div>
                  </div>
                    <input type="checkbox" asp-for="@Model.RememberMe" value="Remember Me"/>
                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button  type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg">Login</button>
                  </div>

</form>