@model Stock


<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h4>Create a new movie</h4>
        </p>

        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="UpdateProduct">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="row">
                        <div class="col-md-6">

                            <div data-mdb-input-init class="form-outline mb-4">
                                <label asp-for="@Model.Product.Name" ></label>
                                <input asp-for="@Model.Product.Name" class="form-cotrol" disabled>
                            </div>
                            <div data-mdb-input-init class="form-outline mb-4">
                                <label asp-for="@Model.Product.Number" ></label>
                                <input asp-for="@Model.Product.Number" class="form-cotrol" disabled>
                            </div>
                            <div data-mdb-input-init class="form-outline mb-4">
                                <label asp-for="@Model.Product.Price" ></label>
                                <input asp-for="@Model.Product.Price" class="form-cotrol" disabled>
                            </div>
                            <div data-mdb-input-init class="form-outline mb-4">
                                <label asp-for="@Model.Product.Type" ></label>
                                <select asp-for="@Model.Product.Type" asp-items="Html.GetEnumSelectList<ProductType>()" disabled class="form-cotrol"></select>
                            </div>
                            <div data-mdb-input-init class="form-outline mb-4">
                                <label asp-for="@Model.Quantity" ></label>
                                <input asp-for="@Model.Quantity" value="0" class="form-cotrol" >
                            </div>
                        </div>
                        
                        
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Update" class="btn btn-outline-success float-right" />
                    </div>

                </form>

            </div>
        </div>

    </div>
</div>